# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries and tools in Data Science  
- Create and format markdown cells in Jupyter Notebooks  
- Perform basic arithmetic operations using Python  
- Convert units such as minutes to hours using Python

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy  
2. Pandas  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [17]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author

Mansi Verma